body {
  background-color: #ebebeb;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app h1 {
  color: #717171;
  text-align: center;
  margin-bottom: 50px;
}

.app-body {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.app-body input {
  height: 20px;
  width: 400px;
  border-radius: 8px;
  border: #a3a3a3;
}

.app-body label {
  font-size: 24px;
  color: #a3a3a3;
}

button {
  cursor: pointer;
  background-color: #fefefe;
  color: #717171;
  font-size: 18px;
  height: 45px;
  width: 240px;
  border-radius: 8px;
  border-style: none;
}

button:hover {
  border-style: solid;
}
